body{
    
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    min-height: 100%;
  }

  a {
    color: #00fffb;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.jumbotron{
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);

    border-color: white;
    border-style:solid;
    border-width: 1px;
}

.btn-primary{
   
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    background-blend-mode: screen;
    border-color: white;
    border-style:solid;
    border-width: 1px;
    color: white;
    
}

h1, h3{
    color:rgb(242, 255, 0);
}

h2, h4,h5{
    color: white;
}