body{
    
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    /* color: white; */
    min-height: 100%;
  }

.jumbotron{
    background-color: #5c006a;
    border-color: #dd00ff;
    border-style:solid;
    border-width: 1px;
}

.btn-primary{
    background-color:#41004b;
    color:rgb(217, 235, 18);
}

h1, h2, h3{
    color:rgb(217, 235, 18);
}

h4,h5{
    color: white;
}